<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management ; Create</title>

  <link rel="stylesheet" type="text/css" href="/styles/index.css" />
</head>

<body>
  <header>
    <a href="/users" title="Derzeitige Nutzer ... "><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="database" class="svg-inline--fa fa-database fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z"></path></svg></a>
  </header>
  <img src="/images/htl-logo.png" />
  <h1>Nutzer Erstellung</h1>
  <form id="inp-form">
    <table>
      <tr>
        <td>Kundenname: </td>
        <td><input id="customer-in" type="text" placeholder="e.g.: Kleine Zeitung ... " required /></td>
      </tr>
      <tr>
        <td>Nutzername: </td>
        <td><input id="uname-in" type="text" placeholder="e.g.: kleinezeitung ..." required /></td>
      </tr>
      <tr>
        <td>Passwort-Länge: </td>
        <td><input id="pwdlen-in" type="number" value="8" required /></td>
      </tr>
      <tr>
        <td>Profil: </td>
        <td>
          <select id="profile-in">
            {{#each profiles}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr class="optional">
        <td>Standnummer: </td>
        <td><input id="booth-in" type="text" placeholder="e.g.: S1131 ... " /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Erstellen!" /></td>
      </tr>
      <tr>
        <td colspan="2"><div id="status-log">
        </div></td>
      </tr>
    </table>
  </form>
  <script src="/scripts/epos-2.12.0.js"></script>
  <script src="/scripts/printer.js"></script>
  <script src="/scripts/index.js"></script>
</body>

</html>